<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-header">
        <a href="/" class="navbar-brand"><span class="brand-title">{{vm.navline.title}}</span></a>
        <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
    </div>
    <div class="navbar-collapse collapse">
        <div class="pull-right navbar-logo">
            <ul class="nav navbar-nav pull-right">
                <li class="a">
                    <a ng-click="vm.services()">{{"layout.ht-top.services" | translate}}</a>
                </li>
                <li class="a">
                    <a ng-click="vm.projects()">{{"layout.ht-top.projects" | translate}}</a>
                </li>
                <li class="a">
                    <a ng-click="vm.clients()">{{"layout.ht-top.clients" | translate}}</a>
                </li>
                <li class="a">
                    <a ng-click="vm.contact()">{{"layout.ht-top.contact" | translate}}</a>
                </li>
                <li class="a">
                    <a>{{vm.greeting}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
